body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


.pomodoro-screen {
  width: 400px;  
  height: 600px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
  -webkit-app-region: drag; 
  cursor: move;
  user-select: none;
}

.btn, #timer {
  -webkit-app-region: no-drag; 
  cursor: pointer; 
}

.work-mode {
  background-image: url('./assets/studybg.png'); 
  background-size: cover;
}

.work-mode .timer-text {
  -webkit-text-stroke: 2px #C93B3B; 
}


.break-mode {
  background-image: url('./assets/restbg.png'); 
  background-size: cover;

}

.break-mode .timer-text {
  -webkit-text-stroke: 2px #54C26B;
}

@font-face {
    font-family: 'BiryaniCustom';
  src: url('./assets/fonts/Biryani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalNumbersCustom';
  src: url('./assets/fonts/DigitalNumbers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.timer-text {
  font-family: 'DigitalNumbersCustom', monospace; 
  color: #FFFFFF;
  font-size: 80px;
  margin-top: 173px;
  transition: 0.5s ease;
}
.btn {
  font-family: 'BiryaniCustom', sans-serif; 
  color: #FFFFFF;
  font-size: 24px;
  border-radius: 20px;
  width: 146px;
  margin-top: 90px ;
  background-color: #76E28D; 
  border: 6px solid #54C26B;
}